@charset "utf-8";

	/*
		Author: Gord MacNeil
		Date: April/12/2018
		Filename: gord_base.css
	*/

	


 /* ============================================
Mobile Styles
===============================================
 */

@media only screen and (max-width: 480px)
{

	header img {
		/* float: ; */
		width: 100%;
		margin: 0% 0% 0% 0%;
		height:10em;
	 
	 }

	 aside{
		float: left;
 }
	
	nav {
	
		border-radius: 10px; 
		display: block;
		margin: 0px ;
		margin-top: 16px;
		overflow: hidden;
		width: auto;
		height: 100%;
	
	}
	nav ul li a:hover {
		background-color: rgb(45, 20, 20);
		color: rgb(255, 255, 255);
	}
	nav ul li ul li{
		display: none;
	}
	
	
	nav ul {
			margin: 0px;
			padding: 0px;
	}

	nav ul li {
		font-family: "Times New Roman", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		font-size: 1.2em;
		text-align: left;
		margin-top: 1%;
		border-collapse: collapse;
	color: rgb(206, 203, 203);
	
	}

	
	nav ul li a:visited {
		color: rgb(189, 185, 185);
		
	}

	header a#currentPage{
		background-color: rgb(69, 7, 7);
	}
	
	section {
		clear: left;
		float: left;
		width: 90%;
		padding-left: 4%;
	}
 
	section.first h3 {
		float: left;
		margin: 0px;
		padding-top: 5px;
		font-size: 1.0em;
		color: rgb(172, 172, 88);
	}
 
 
	section.first h4{
		float:right;
		margin: 0px;
		padding-top: 2px;
		color: rgb(156, 156, 156);
		font-size: 0.75em;
	}
 
	section h5 {
		font-size: 0.75em;
		margin: 0px;
		padding-top: 2px;
		color: rgb(186, 186, 95);
	}
 
	Section ul {
		margin: 0px;
		padding-top: 0px;
		color: rgb(203, 197, 197);
		font-size: 1.2em;
	}
	body aside img {
		height: 10em;
		margin: 5% 3% 0% 0%;
	 }
	 blockquote.blockQuoteAbout {
		font-size: 0.9em;
		width: 91.0%;
		text-indent: 10px;
		padding: 4%;
		font-family: "Times New Roman","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		margin: 5% 0% 10% 0%;
		box-shadow: rgba(31, 61, 31, 0.9) 3px 0px 5px,  rgba(31, 61, 31, 0.9) -3px 0px 5px;
		border-radius: 10%;
		border-top: 1px solid  rgba(176,124,48,0.5);
		border-bottom: 1px solid  rgba(176,124,48,0.5);
		/* border-left: 5px solid rgba(176,124,48,0.5); */
	}

	blockquote#blockQuoteHome {
		background: black;
		/* border-left: 5px solid rgba(176,124,48,0.5); */
		border-top: 1px solid  rgba(176,124,48,0.5);
		border-bottom: 1px solid  rgba(176,124,48,0.5);
		box-shadow: rgba(31, 61, 31, 0.9) 3px 0px 5px,  rgba(31, 61, 31, 0.9) -3px 0px 5px;
		border-radius: 10%;
		width: 91.0%;
		margin: 5% 0% 10% 0%;
		float: left;
		font-size: 0.9em;
		text-indent: 10px;
		padding: 4%;
	}
	
	body h1 {
		margin: 1%;
		font-family: "Times New Roman","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		font-size: 1.2em;
		color: rgb(212, 220, 227);
		position: relative;
	}
	body h2 {
		/* margin-top: 60%; */
	
		font-size: 1.2em;
		color: rgb(156, 156, 80);
		}
	body h2{position: static}

	body	{
		
		background-color: rgb(11, 8, 8);
		-moz-box-shadow: rgba(43, 38, 38, 0.783) 5px 0px 25px,  rgba(31, 61, 31, 0.9) -5px 0px 25px;
		-webkit-box-shadow: rgba(31, 61, 31, 0.9) 5px 0px 25px,  rgba(31, 61, 31, 0.9) -5px 0px 25px;
		box-shadow: rgba(31, 61, 31, 0.9) 5px 0px 25px,  rgba(31, 61, 31, 0.9) -5px 0px 25px;
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
	/* canvas, video {
		display: block;
		margin-top: -50%;
		margin-bottom: -100%; 
		}
		audio {
			position: absolute;
			padding-bottom: -30%;
		} */
	footer {
    margin-top: 40%;
}	
}

	


/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger
	devices.
   =============================================
*/


@media only screen and (min-width: 481px) {
html, body {
	font-size: 16px;
	background-color: rgb(0, 0, 0);
	color: rgb(165, 165, 165);   

}

body {
	width: 89.9%;
	padding-left: 1.55%;
	padding-right: 1.55%;
	clear: none;
	float: none;
	margin-left: auto;
}

header img {
 float: none;
 width: 100%;
 margin: 0% 0% 0% 0%;
 height: 295px;

}

header h1 {
font-size: 1.5em;

}
body h2 {
 margin-bottom: 0px;
 font-size: 1.2em;
 color: rgb(156, 156, 80);
	}

	
article {
	width: 94%;
	float: none;
	margin: 5px auto;
}

dl {
	width: 90%;
  margin: 0 auto;
	text-align: left;
}

dd {
	font-size: 1.0em;
}

nav ul li {
	font-family: "Times New Roman","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.9em;
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-top: 1%;
	border: thin solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}


nav ul li a:visited {
	color: rgb(215, 212, 212);
	
}

nav ul li a:hover {
	background-color: rgb(50, 1, 1);
	color: white;
}
nav ul li a {
	color: rgb(120, 120,110);
	text-decoration: none;
	display: block;
	margin-bottom: 1%;
	margin-top: 0%;
}

nav {
	display: table;
	width: 95%;
	margin: 2%;
	float: none;
}

nav ul {
	display: table-row;
	margin: 0%;
}

nav ul li:last-of-type {
	margin-right: 0%;
}

nav ul li a:focus {
	outline: thin dotted;
}
nav ul li a:hover, nav ul li a:active {
	outline: 0;
}

/* =============================================
	 BlockQuotes
	 =============================================
*/

blockquote#blockQuoteHome {
  background: black;
	border-left: 10px solid rgba(176,124,48,0.5);
	border-top: 1px solid  rgba(176,124,48,0.5);
		border-bottom: 1px solid  rgba(176,124,48,0.5);
  /* quotes: "\201C""\201D""\201C""\2019"; */
  border-radius: 20%;
	width: 40%;
	margin: 5% 0% 5% 0%;
	float: left;
	padding: 3%;
	font-size: 0.9em;
}

blockquote p:last-of-type {
	border-top: 1px solid rgba(128,98,26,1.00);
	text-align: center;
	font-size: 1em;
}



blockquote.blockQuoteAbout {
  background: black;
  border-left: 5px solid rgba(176,124,48,0.5);
  quotes: "\201C""\201D""\201C""\2019";
  border-radius: 20%;
	width: auto;
	margin: 5% 2% 7% 0%;
	float: left;
	padding: 3%;
	border-top: 1px solid  rgba(176,124,48,0.5);
		border-bottom: 1px solid  rgba(176,124,48,0.5);
		border-left: 5px solid rgba(176,124,48,0.5);
}

blockquote.blockQuoteSkills {
	font-size: 0.70em;
	width: 100%;
	font-family: "Times New Roman","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin: 0 0 25% 0;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	border-radius: 10%;
}

blockquote.blockQuoteSkills {
  background: black;
  border-left: 5px solid rgba(176,124,48,0.5);
  quotes: "\201C""\201D""\201C""\2019";
  	border-radius: 20%;
	width: auto;
	margin: 5% 2% 7% 0%;
	float: left;
	padding: 3%;
}}

/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/



hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 4px solid #ccc;
    margin: 0em 0;
	padding: 0; 
	border-color: rgba(128,98,26,1.00); 
}

@media only screen and (min-width: 769px) {
html, body {
 font-size: 1.05em;
 color: rgb(165, 165, 165);
 
}

body aside img {
 height: 25em;
 margin: 0% 0% 0% 0%;
}

nav {
	margin-top: 5px;
}

header img {
 float: none;
 width: 100%;
 margin: 0% 0% -5% 0%;
 height: 20em;
}

body {
	width: 80.2%;
	max-width: 1020px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	
	background-color: rgb(24, 19, 19);
	-moz-box-shadow: rgba(43, 38, 38, 0.783) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
}



 /* =============================================
 		Column Sections
    =============================================
 */

 section {
 	clear: left;
 	float: left;
 	width: 90%;
 	padding-left: 4%;
 }

 section.first h3 {
 	float: left;
 	margin: 0px;
 	padding-top: 5px;
 	font-size: 1.0em;
 	color: rgb(172, 172, 88);
 }


 section.first h4{
 	float:right;
 	margin: 0px;
 	padding-top: 2px;
 	color: rgb(156, 156, 156);
 	font-size: 0.75em;
 }

 section h5 {
 	font-size: 0.75em;
 	margin: 0px;
 	padding-top: 2px;
 	color: rgb(186, 186, 95);
 }

 Section ul {
 	margin: 0px;
 	padding-top: 0px;
 	color: rgb(203, 197, 197);
 }
 /* =============================================
 	 BlockQuotes
 	 =============================================
 */
 blockquote.blockQuoteAbout {

 	font-size: 0.9em;
 	width: 94%;
 	font-family: "Times New Roman","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
 	margin:0 0 5 0;
 	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	 border-radius: 10%;
	 text-align: left;
 }
}
