@charset "utf-8"

	/*
		Author: Gord MacNeil
		Date: April/12/2018
		Filename: gord_base.css
	*/

/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, ser, hgroup, main, nav, section {
	display: block;
}
/* =============================================
	 Column Sections
	 =============================================
*/
#link {
width:500px;
height:40px;
border:dashed #666 2px;
margin-top:0px;
}
#link
{
    width:500px;
    height:52px;
    border:dashed #666 2px;
    margin-top:0px;
}


  
section {
  clear: left;
  float: left;
  width: 90%;
  padding-left: 4%;
}

section.first h3 {
  float: left;
  margin: 0px;
  padding-top: 5px;
  font-size: 1.0em;
  color: rgb(156, 156, 156);
}

section.first h4{
  float:right;
  margin: 0px;
  padding-top: 2px;
  color: rgb(156, 156, 156);
  font-size: 0.75em;

}

section h5 {
 font-size: 0.75em;
 margin: 0px;
 padding-top: 2px;
 color: rgb(156, 156, 80);
}

Section ul {
 margin: 0px;
 padding-top: 0px;
 color: rgb(156, 156, 156);
}


/* =============================================
	Default colors, margins and sizing
   =============================================
*/


html, button, input, select, textarea {
	font-family: serif;
	color: rgb(172, 172, 172);

	}

body {
	margin: 0;
	font-size: 1.2em;
	line-height: 1.4;
}
nav ul li a:visited {
	color: rgb(208, 206, 206);
	margin-bottom: 1%;
	margin-top: 1%;
}

/* =============================================
	Hypertext links
   =============================================
*/

a {
	color: rgb(127,86,17);
}
a:visited {
	color: #221a8b;
}
a:hover {
	color: rgb(167,137,47);
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}


/* =============================================
	Default font styles
   =============================================
*/
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

small {
	font-size: 85%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}


/* =============================================
	Default list styles
   =============================================
*/

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
dl {
	width: 90%;
  margin: 0 auto;
	text-align: left;

}
dd {
	font-size: 1.0em;
}
nav ul li a:hover {
	background-color: #200;
	color: white;
}
nav ul li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.0.em;
}


/* =============================================
	Default styles for images and media
   =============================================
*/

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
figure {
	margin: 0;
}
audio, canvas, video {
	display: inline-block;
	
	}





/* =============================================
	Default styles for web tables
   =============================================
*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	vertical-align: top;
}


body h2 {
	margin-bottom: 0px;
	font-size: 1.2em;
	color: rgb(156, 156, 80);
	}




html {
	height: 100%;
	font-size: 14px;
	background-color: rgb(0, 0, 0);
}

img, object, embed, video {
	max-width: 100%;

}
body {
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
}

aside{
	 width:40%;
	 float:right;
	 padding-bottom: 3px;
}

nav {
	width: 25%;
	float: none;
	margin: 5% 0% 0% 0%;

}
article {
	width: auto;
	float: left;
	font-size: 1.0em;
	text-align: justify;
	text-overflow:ellipsis;
}


/* =============================================
	 Navigation Section
   =============================================
*/



dl {
	margin:auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
dt {
	display: block;
	margin: 0;
	text-indent: 0;
	font-weight: bold;
	border-bottom: 1px solid rgba(168, 168, 168,1.00);
}
dd {
	display: block;
	margin: 0 0 3% 3%;
	text-indent: 0;

}
body h1 {
	margin: 1%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.5em;
	color: rgb(212, 220, 227)
}
body section h2 {
		color: rgb(156, 156, 80);
}

body article h1 {
	font-size: 1.15em;
}

 ul li {
	font-size: 0.8em;
}

cite {
	   color: rgb(110, 110, 255);
	}




header img {
	float: none;
	width: 100%;
	margin: 0% 0% 0% 0%;
  height: 190px;
}

header a#currentPage{
	background-color: rgb(50, 0, 0);

}
body p, body address {
	margin: 3.5% 1%;
	font-size: 1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: normal;
	height: 100%;
}



/* =============================================
	BlockQuote Styles
   =============================================
*/

blockquote {
	font-size: 1.0em;
	width: auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin: 0 0 4% 0;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	border-radius: 10%;
}

blockquote h1{
	padding-left: 5%;
}


blockquote p:last-of-type {
	border-top: 1px solid rgba(128,98,26,1.00);
	text-align: center;
	font-size: 1em;
}

blockquote.blockQuoteSkills {
	font-size: 0.87em;
	width: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin: 0 0 25% 0;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	border-radius: 10%;
}

blockquote.blockQuoteSkills {
  background: black;
  border-left: 5px solid rgba(176,124,48,0.5);
  quotes: "\201C""\201D""\201C""\2019";
  	border-radius: 20%;
	width: auto;
	margin: 5% 2% 7% 0%;
	float: left;
	padding: 3%;
}

article p, article address {font-family: "Times New Roman", Times, serif;}

footer {
	text-align: center;
	font-size: 0.8em;
	margin-top: 4%;
	border-top: 2px solid rgba(128,98,26,1.00);
  color: rgba(128,98,26,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	clear: both;
	padding-bottom: 0px;
	padding-top: 0px;
}





