*{
    margin:0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    ". content ."
    ". content1 ."
    ". content2 ."
    ". content3 ."
   
    ;
    background-color:rgb(24, 19, 19);
    gap: 50px;
}
/* 
.header {
    grid-area: header  

    }  */
  
.content {
    grid-area: content;
    justify-self: center; 
    background-color: rgb(11, 8, 8);
    
   
    }
   

.content1 {
        grid-area: content1;
        justify-self: center; 
        background-color: rgb(11, 8, 8);
        }
       
    
    .content2 {
            grid-area: content2;
            justify-self: center; 
            background-color: rgb(11, 8, 8);
           
           
            }
         
        
        .content3 {
                grid-area: content3;
                justify-self: center; 
                background-color: rgb(11, 8, 8);
               
               
                }

 

@media screen and (min-width: 736px){
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        ". content  ."
        ". content1  ."
        ". content2  ."
        ". content3  ."
        ;
        background-color:rgb(24, 19, 19);
        gap: 30px;
    }
  
   
   

.content {
        grid-area: content;
        justify-self: center; 
       background-color:rgb(24, 19, 19);
        }
      
    
    .content1 {
            grid-area: content1;
            justify-self: center; 
            background-color:rgb(24, 19, 19);
            }
          
        
        .content2 {
                grid-area: content2;
                justify-self: center; 
                background-color:rgb(24, 19, 19);
                }
              
            
            .content3 {
                    grid-area: content3;
                    justify-self: center; 
                    background-color:rgb(24, 19, 19);
            }
        }